# Ejemplo de carga de archivos

In [13]:
import pandas as pd

In [14]:
df = pd.read_excel(r"../data/Sample-Superstore.xls", sheet_name="Orders")

In [15]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [16]:
sheets = ["Orders", "Returns", "People"]
diccionario = {}

In [17]:
for sheet in sheets:
    print(sheet)

Orders
Returns
People

In [ ]:
for sheet in sheets:
    df_temporal = pd.read_excel(r"../data/Sample-Superstore.xls", sheet_name=sheet)
    diccionario[sheet] = df_temporal

In [19]:
diccionario

{'Orders':       Row ID        Order ID Order Date  Ship Date       Ship Mode  \
 0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
 1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
 2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
 3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
 4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
 ...      ...             ...        ...        ...             ...
 9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
 9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
 9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
 9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
 9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

      Customer ID     Customer Name    Segment        Country             City  \
 0       CG-12520       Claire Gute   Consumer  United States        Henderson
 1       CG-12520       Claire Gute   Consumer  United States        Henderson
 2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
 3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
 4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
 ...          ...               ...        ...            ...              ...
 9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
 9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
 9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
 9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
 9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

       ... Postal Code  Region       Product ID         Category Sub-Category  \
 0     ...       42420   South  FUR-BO-10001798        Furniture    Bookcases
 1     ...       42420   South  FUR-CH-10000454        Furniture       Chairs
 2     ...       90036    West  OFF-LA-10000240  Office Supplies       Labels
 3     ...       33311   South  FUR-TA-10000577        Furniture       Tables
 4     ...       33311   South  OFF-ST-10000760  Office Supplies      Storage
 ...   ...         ...     ...              ...              ...          ...
 9989  ...       33180   South  FUR-FU-10001889        Furniture  Furnishings
 9990  ...       92627    West  FUR-FU-10000747        Furniture  Furnishings
 9991  ...       92627    West  TEC-PH-10003645       Technology       Phones
 9992  ...       92627    West  OFF-PA-10004041  Office Supplies        Paper
 9993  ...       92683    West  OFF-AP-10002684  Office Supplies   Appliances

                                            Product Name     Sales  Quantity  \
 0                     Bush Somerset Collection Bookcase  261.9600         2
 1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
 2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
 3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
 4                        Eldon Fold 'N Roll Cart System   22.3680         2
 ...                                                 ...       ...       ...
 9989                             Ultra Door Pull Handle   25.2480         3
 9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
 9991                              Aastra 57i VoIP phone  258.5760         2
 9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000         4
 9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600         2

       Discount    Profit
 0         0.00   41.9136
 1         0.00  219.5820
 2         0.00    6.8714
 3         0.45 -383.0310
 4         0.20    2.5164
 ...        ...       ...
 9989      0.20    4.1028
 9990      0.00   15.6332
 9991      0.20   19.3932
 9992      0.00   13.3200
 9993      0.00   72.9480

 [9994 rows x 21 columns],
 'Returns':     Returned        Order ID
 0        Yes  CA-2017-153822
 1        Yes  CA-2017-129707
 2        Yes  CA-2014-152345
 3        Yes  CA-2015-156440
 4        Yes  US-2017-155999
 ..       ...             ...
 291      Yes  CA-2015-101910
 292      Yes  CA-2017-156958
 293      Yes  CA-2016-105585
 294      Yes  CA-2016-148796
 295      Yes  CA-2015-149636

 [296 rows x 2 columns],
 'People':               Person   Region
 0      Anna Andreadi     West
 1        Chuck Magee     East
 2     Kelly Williams  Central
 3  Cassandra Brandow    South}

In [20]:
diccionario["Orders"].head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [21]:
diccionario["Returns"].head()

  Returned        Order ID
0      Yes  CA-2017-153822
1      Yes  CA-2017-129707
2      Yes  CA-2014-152345
3      Yes  CA-2015-156440
4      Yes  US-2017-155999

In [22]:
diccionario["People"].head()

              Person   Region
0      Anna Andreadi     West
1        Chuck Magee     East
2     Kelly Williams  Central
3  Cassandra Brandow    South

In [24]:
diccionario["Orders"].info()
diccionario["Returns"].info()
diccionario["People"].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Returned  296 non-null    object
 1   Order ID  296 non-null    object
dtypes: object(2)
memory usage: 4.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Person  4 non-null      object
 1   Region  4 non-null      object
dtypes: object(2)
memory usage: 196.0+ bytes

# Unir data frames

In [28]:
df_pedidos = diccionario["Orders"]
df_devoluciones = diccionario["Returns"]
df_personas = diccionario["People"]

In [26]:
df_pedidos_completo = pd.merge(df_pedidos, df_devoluciones, on="Order ID", how="left")

In [27]:
df_pedidos_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
 21  Returned       800 non-null    object
dtypes: datetime64[ns](2), float64(3), int64(3), object(14)
memory usage: 1.7+ MB

In [29]:
df_pedidos_completo = pd.merge(df_pedidos_completo, df_personas, on="Region", how="left")

In [30]:
df_pedidos_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
 21  Returned       800 non-null    object
 22  Person         9994 non-null   object
dtypes: datetime64[ns](2), float64(3), int64(3), object(15)
memory usage: 1.8+ MB

In [31]:
import numpy as np